.card {
  background-image: url('cardfaces.jpg');
  width: 114px;
  height: 156px;
  border: 1px solid black;
  border-radius: 7px;
  display: inline-block;
}

.back {
  background-image: url('cardback.jpg');
  background-size: cover;
  background-position: 0 !important;
}

/* Hearts */
#hearts1 {
  background-position: -223px -155px;
}

#hearts2 {
  background-position: -112px -155px;
}

#hearts3 {

  background-position: 0 -155px;
}

#hearts4 {

  background-position: -886px -310px;
}

#hearts5 {

  background-position: -775px -310px
}

#hearts6 {

  background-position: -665px -310px;
}

#hearts7 {

  background-position: -556px -310px;
}

#hearts8 {

  background-position: -445px -310px;
}

#hearts9 {

  background-position: -333px -310px;
}

#hearts10 {

  background-position: -223px -310px;
}

#hearts11 {

  background-position: -112px -310px;
}

#hearts12 {

  background-position: 0 -310px;
}

#hearts13 {

  background-position: -886px -462px;
}

/* Diamonds */
#diamonds1 {

  background-position: -333px -617px;
}

#diamonds2 {

  background-position: -223px -617px;
}

#diamonds3 {

  background-position: -112px -617px;
}

#diamonds4 {

  background-position: 0 -617px;
}

#diamonds5 {

  background-position: -886px -770px;
}

#diamonds6 {

  background-position: -775px -770px;
}

#diamonds7 {

  background-position: -665px -770px;
}

#diamonds8 {

  background-position: -556px -770px;
}

#diamonds9 {

  background-position: -445px -770px;
}

#diamonds10 {

  background-position: -333px -770px;
}

#diamonds11 {

  background-position: -223px -770px;
}

#diamonds12 {

  background-position: -112px -770px;
}

#diamonds13 {

  background-position: 0 -770px;
}

/* Spades */
#spades1 {

  background-position: -665px 0;
}

#spades2 {

  background-position: -556px 0;
}

#spades3 {

  background-position: -445px 0;
}

#spades4 {

  background-position: -333px 0;
}

#spades5 {

  background-position: -223px 0;
}

#spades6 {

  background-position: -112px 0;
}

#spades7 {

  background-position: 0 0;
}

#spades8 {

  background-position: -886px -155px;
}

#spades9 {

  background-position: -775px -155px;
}

#spades10 {

  background-position: -665px -155px;
}

#spades11 {

  background-position: -556px -155px;
}

#spades12 {

  background-position: -445px -155px;
}

#spades13 {

  background-position: -333px -155px;
}

/* Clubs */
#clubs1 {

  background-position: -775px -462px;
}

#clubs2 {

  background-position: -665px -462px;
}

#clubs3 {

  background-position: -556px -462px;
}

#clubs4 {

  background-position: -445px -462px;
}

#clubs5 {

  background-position: -333px -462px;
}

#clubs6 {

  background-position: -223px -462px;
}

#clubs7 {

  background-position: -112px -462px;
}

#clubs8 {

  background-position: 0 -462px;
}

#clubs9 {

  background-position: -886px -617px;
}

#clubs10 {

  background-position: -775px -617px;
}

#clubs11 {

  background-position: -665px -617px;
}

#clubs12 {

  background-position: -556px -617px;
}

#clubs13 {

  background-position: -445px -617px;
}